/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 10%;
  left: 0;
  width: 25%; /* サイドバーの幅 */
  height: 100%; /* 画面の高さに合わせる */
  background-color: #f3e5f6; /* 背景色 */
  overflow-y: auto; /* 縦スクロールを可能にする */
  padding: 10px; /* パディング */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* サイドバーの影 */
}
